body {
   background-image: url("../images/question-marks-background.jpg");
}

#header {
    width: 700px;
    margin: 0 auto;
    background-color:#f4ffeb;
    margin-top: 30px;
    border: 8px solid darkgreen;
    overflow: auto;
    }

#headerText1, #headerText2 {
    line-height: 65px;
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 60px;
    padding-top: 20px;
}

#headerText2 {
    line-height: 45px;
    font-size: 40px;
}

#headerPhoto {
   float: left;
   clear: right;
   border-right: 2px solid black;
   display: block;
} 

#mainContentArea {
    width: 660px;
    margin: 0 auto;
    background-color: #ffffff; 
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding: 50px 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}

#startDiv {
    align-items: center;
   
}
#directions {
/* text-align: center; */
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
line-height: 20px;
margin-bottom: 20px;
}

.playBtn {
font-size: 20px;
padding: 5px 10px;
}

.titleCountdown {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}

.showCountdown {
background-color: black;
color: #ffffff;
font-size: 20px;
font-family: monospace;
padding: 10px 15px;
margin: 20px 0px;
text-align: center;
display: inline-block;
}

.choice {
    padding-right: 8px;
}

#answerImg {
    margin-top: 20px;
}
 